appdirs==1.4.3
beautifulsoup4==4.8.1
blockchain==1.4.4
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
Click==7.0
cssselect==1.1.0
cycler==0.10.0
Cython==0.29.14
enum-compat==0.0.3
eth-typing==2.2.1
fake-useragent==0.1.11
future==0.18.2
h5py==2.10.0
idna==2.8
isodate==0.6.0
Jinja2==2.10.3
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
numdifftools==0.9.39
numpy==1.18.1
pandas==0.25.3
parse==1.12.1
parsimonious==0.8.1
patsy==0.5.1
pyee==6.0.0
pyflux==0.4.17
pyparsing==2.4.6
pyppeteer==0.0.25
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
rdflib==4.2.2
requests==2.22.0
requests-html==0.10.0
scikit-learn==0.22.1
scipy==1.4.1
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
SPARQLWrapper==1.8.5
toolz==0.10.0
tqdm==4.40.1
urllib3==1.25.7
w3lib==1.21.0
websockets==8.1
